# Python virtual environment
pyvenv/*
pyvenv_unsloth/*
venv/
env/
ENV/
unsloth_compiled_cache/*
unsloth_compiled_cache/.locks/*
lora_model/*
outputs*/*
tvenv/*
unvenv/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

# Model checkpoints and outputs (uncomment if needed)
# *.pth
# *.bin
# *.safetensors

# Checkpoints directory
checkpoints/
Qwen*/
training_data/
training_data/images
.gitignore


Ministral-3-3B-Instruct-2512-Q4_K_M.gguf
.gitignore
Ministral-3-3B-Instruct-2512.BF16.gguf
mmproj-F16.gguf
my_gguf_mmproj.gguf
my_gguf_Q4_K_M.gguf
my_gguf.gguf
unsloth_finetune_merged.BF16.gguf
finetune_model/*
finetune_model_merged/*
testing_data/*
training_data_synth/*
finetune_qwen3/*
